<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH" value="cmd.exe"/>
    <add key="AS_SERVICE" value="true"/>
    <add key="ARGV0" value="/c"/>
    <add key="ARGV1" value="%dwd%\ci-boot.cmd"/>
    <add key="USE_SHOWWINDOW" value="true"/>
  </appSettings>
</configuration>
