<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH" value="C:\Windows\System32\bash.exe"/>
    <add key="AS_SERVICE" value="true"/>
    <add key="ARGV0" value="--rcfile"/>
    <add key="ARGV1" value="/etc/init.d/wsl-init"/>
    <add key="USE_SHOWWINDOW" value="true"/>
  </appSettings>
</configuration>